.sphere {
	width: 25%;
	height: 25%;
    position:relative;
    margin: auto;
    border-radius: 50%;
    outline: none;
}

.tile-inner {
    display: flex;
    min-height: 57px;
    margin: 0;
}

/*2*/
.sphere_2{
	background-image: radial-gradient(
            rgba(175, 210, 230, 0.9) 0%,
            rgba(102, 112, 141, 0.8) 30%,
            rgba(0, 0, 0, 0.1) 60%);
    color: #afd2e6;
	-webkit-animation: rot 2s infinite linear;
    -moz-animation: rot 2s infinite linear;
    animation: rot 2s infinite linear;
}

/*4*/
.sphere_4{
	background-image: radial-gradient(
            rgba(175, 210, 230, 0.80) 0%,
            rgba(102, 112, 141, 0.70) 23%,
            rgba(0, 0, 0, 0.1) 51%,
            rgba(187, 218, 237, 0.70) 71%);
    color: #afd2e6;
	-webkit-animation: rotNeg 2s infinite linear, glow 6s ease 0s infinite;
	-moz-animation: rotNeg 2s infinite linear, glow 6s ease 0s infinite;
	animation: rotNeg 2s infinite linear, glow 6s ease 0s infinite;
}


/*8*/
.sphere_8{
	width: 35%;
	height: 35%;
	background-image: radial-gradient(
            rgba(118, 180, 230, 0.8) 0%,
            rgba(42, 116, 186, 0.70) 23%,
            rgba(0, 0, 0, 0.1) 51%,
            rgba(143, 193, 237, 0.70) 71%);

    outline: none;
    color: rgb(143, 193, 237);
	-webkit-animation: rot 3s infinite linear, glow 6s ease 0s infinite;
	-moz-animation: rot 3s infinite linear, glow 6s ease 0s infinite;
    animation: rot 3s infinite linear, glow 6s ease 0s infinite;
}

/*16*/
.sphere_16{
	width: 45%;
	height: 45%;
	background-image: radial-gradient(
            rgba(183, 255, 91, 0.80) 0%,
            rgba(58,169,138, 0.7) 23%,
            rgba(0, 0, 0, 0.1) 51%,
            rgba(62, 186, 152, 0.70) 71%);
    outline: none;
    color: rgb(53, 176, 186);
	-webkit-animation: rotNeg 4s infinite linear, glow 4s ease 0s infinite;
	-moz-animation: rotNeg 4s infinite linear, glow 4s ease 0s infinite;
	animation: rotNeg 4s infinite linear, glow 4s ease 0s infinite;
}

/*32*/
.sphere_32{
	width: 55%;
	height: 55%;
	background-image: radial-gradient(
            rgba(255, 245, 121, 0.80) 0%,
            rgba(255, 177, 37, 0.70) 23%,
            rgba(0, 0, 0, 0.1) 51%,
            rgba(110, 169, 79, 0.70) 71%);
    color: rgb(55, 186, 125);
	-webkit-animation: rot 5s infinite linear, pulse-glow 4s ease 0s infinite;
	-moz-animation: rot 5s infinite linear, pulse-glow 4s ease 0s infinite;
	animation: rot 5s infinite linear, pulse-glow 4s ease 0s infinite;
}

/*64*/
.sphere_64{
	width: 65%;
	height: 65%;
	background-image: radial-gradient(
            rgba(255, 166, 104, 0.80) 0%,
            rgba(255,102,0, 0.70) 23%,
            rgba(0, 0, 0, 0.1) 51%,
            rgba(255, 202, 44, 0.70) 71%);
    color: rgb(255, 177, 37);
	-webkit-animation: rot 6s infinite linear, glow 3s ease 0s infinite;
	-moz-animation: rot 6s infinite linear, glow 3s ease 0s infinite;
	animation: rot 6s infinite linear, glow 3s ease 0s infinite;
}

/*128*/
.sphere_128{
	width: 75%;
	height: 75%;
	background-image: radial-gradient(
            rgba(255, 142, 144, 0.80) 0%,
            rgba(255, 35, 62, 0.70) 23%,
            rgba(0, 0, 0, 0.1) 51%,
            rgba(255, 71, 29, 0.70) 71%);
    color: rgb(255, 71, 29);
	-webkit-animation: rot 7s infinite linear, glow 4s ease 0s infinite;
	-moz-animation: rot 7s infinite linear, glow 4s ease 0s infinite;
    animation: rot 7s infinite linear, glow 4s ease 0s infinite;
}

/*256*/
.sphere_256{
	width: 85%;
	height: 85%;
	background-image: radial-gradient(
            rgb(182, 106, 176) 0%,
            rgba(147, 78, 141, 0.70) 15%,
            rgba(147, 65, 132, 0.2) 30%,
            rgba(58, 186, 140, 0.70) 45%,
            rgba(147, 65, 132, 0.3) 60%,
            rgba(255, 49, 108, 0.70) 75%);
    color: rgba(255, 49, 108, 0.73);
	-webkit-animation: rotNeg 6s infinite linear, pulse-glow 2s ease 0s infinite;
	-moz-animation: rotNeg 6s infinite linear, pulse-glow 2s ease 0s infinite;
	animation: rotNeg 6s infinite linear, pulse-glow 2s ease 0s infinite;
}


/*512*/
.sphere_512{
	width: 95%;
	height: 95%;
	background-image: radial-gradient(
            rgba(255, 245, 121, 0.8) 0%,
            rgba(178, 255, 88, 0.70) 15%,
            rgba(0, 0, 0, 0.1) 35%,
            rgba(147, 65, 132, 0.70) 55%,
            rgba(0, 0, 0, 0.1) 66%,
            rgba(58, 186, 140, 0.70) 71%);
    color: rgb(58, 186, 140);
	-webkit-animation: rotNeg 6s infinite linear, glow 4s ease 0s infinite;
	-moz-animation: rotNeg 6s infinite linear, glow 4s ease 0s infinite;
	animation: rotNeg 6s infinite linear, glow 4s ease 0s infinite;
}

/*CHROME*/
@-webkit-keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-2px, -2px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-2px, -2px)
		           rotate(-360deg);
	}
}

@-webkit-keyframes rotNeg {
	from {
		transform: rotate(0deg)
		           translate(-2px, -2px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(-2px, -2px)
		           rotate(360deg);
	}
}

@-webkit-keyframes glow {
   0%
    {box-shadow: 0 0 20px 3px;}
  50%
    {box-shadow: 0 0 30px 6px;}
  100%
    {box-shadow: 0 0 20px 3px;}
}

@-webkit-keyframes pulse-glow {
   0%
    {box-shadow: 0 0 20px 3px;}
  50%
    {box-shadow: 0 0 20px 8px;}
  100%
    {box-shadow: 0 0 20px 3px;}
}

/*FIREFOX*/
@-moz-keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-2px, -2px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-2px, -2px)
		           rotate(-360deg);
	}
}

@-moz-keyframes rotNeg {
	from {
		transform: rotate(0deg)
		           translate(-2px, -2px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(-2px, -2px)
		           rotate(360deg);
	}
}

@-moz-keyframes glow {
   0%
    {box-shadow: 0 0 20px 3px;}
  50%
    {box-shadow: 0 0 30px 6px;}
  100%
    {box-shadow: 0 0 20px 3px;}
}

@-moz-keyframes pulse-glow {
   0%
    {box-shadow: 0 0 20px 3px;}
  50%
    {box-shadow: 0 0 20px 8px;}
  100%
    {box-shadow: 0 0 20px 3px;}
}

/*NORMAL*/
@keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-2px, -2px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-2px, -2px)
		           rotate(-360deg);
	}
}

@keyframes rotNeg {
	from {
		transform: rotate(0deg)
		           translate(-2px, -2px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(-2px, -2px)
		           rotate(360deg);
	}
}

@keyframes glow {
   0%
    {box-shadow: 0 0 20px 3px;}
  50%
    {box-shadow: 0 0 30px 6px;}
  100%
    {box-shadow: 0 0 20px 3px;}
}

@keyframes pulse-glow {
   0%
    {box-shadow: 0 0 20px 3px;}
  50%
    {box-shadow: 0 0 20px 8px;}
  100%
    {box-shadow: 0 0 20px 3px;}
}
